# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/venv/
backend/.env
backend/.env.*
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd

# Database
*.sqlite3

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/